
header {
  display: flex;
  background: rgb(67, 67, 67);
  justify-content: flex-start;
  align-items: center;
  padding: 0.75%;
  font-family: Arial, Helvetica, sans-serif;
}

header img {
  display: flex;
  width: 200px;
  height: 70px;
  padding-left: 7.5%;
  padding-top: .5%;
  padding-bottom: .5%;
}
header ul {
  width: 80%;
  display: flex-start;
  padding-right: 2%;
  padding-left: 3%;
}

header ul li{
  display: inline;
  color: rgba(225, 225, 225, 0.584);
  letter-spacing: 1.5px;
  font-size: 15px;
  padding-right: 9.5%;

}

#sectOne {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#sectOne img {
  width: 960px;
  height: 450px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 10px;

}

#sectTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sectTwo img {
  width: 300;
  height: 75;
  padding: 20px 15px;
  
}

#sectThree {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  padding-bottom: 4%;
  padding-top: 1%;
}

#sectThree img {
  width: 480px;
  height: 400px;
  padding-left: 1%;
  padding-right: 30px;
 
}

#sectThree article {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#sectThree h3 {
  font-size: 135%;
  font-weight: 500;
  padding-bottom: 2%;
  letter-spacing: .1px;
}

#sectThree p {
  font-style: italic;
  font-size: 115%;
  font-weight: 400;
  text-align: left;
  line-height: 1.4;
  margin:4px, 4px;
  width: 445px;
  height: 325px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  padding-bottom: .8%;
}

#sectThree button {
  all: none;
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

footer {
  display: flex;
  background: rgb(67, 67, 67);
  justify-content: flex-start;
  padding: 6%;
}